.devices-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.devices-devices {
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.devices-main {
  top: 282px;
  left: 77px;
  width: 1326px;
  height: 694px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.devices-rectangle8 {
  top: 0px;
  left: 396px;
  width: 307px;
  height: 694px;
  position: absolute;
  border-radius: 20px;
}
.devices-rectangle9 {
  top: 0px;
  left: 792px;
  width: 307px;
  height: 694px;
  position: absolute;
  border-radius: 20px;
}
.devices-rectangle10 {
  top: 0px;
  left: 0px;
  width: 307px;
  height: 694px;
  position: absolute;
  border-radius: 20px;
}
.devices-rectangle11 {
  top: 0px;
  left: 1180px;
  width: 146px;
  height: 694px;
  position: absolute;
  border-radius: 20px;
}
.devices-text {
  top: 25px;
  left: 71px;
  color: rgba(0, 0, 0, 1);
  width: 165px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Regular;
  text-align: left;
  font-family: IBM Plex Mono;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.devices-text02 {
  top: 25px;
  left: 457px;
  color: rgba(0, 0, 0, 1);
  width: 186px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Regular;
  text-align: left;
  font-family: IBM Plex Mono;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.devices-text04 {
  top: 25px;
  left: 881px;
  color: rgba(0, 0, 0, 1);
  width: 130px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Regular;
  text-align: left;
  font-family: IBM Plex Mono;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.devices-addround {
  top: 275px;
  left: 1190px;
  width: 136px;
  height: 144px;
  position: absolute;
}
.devices-banner {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 233px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.devices-rectangle12 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 208px;
  position: absolute;
}
.devices-text06 {
  top: 38px;
  left: 107px;
  color: rgba(0, 0, 0, 1);
  width: 1150px;
  height: auto;
  position: absolute;
  font-size: 64px;
  font-style: Regular;
  text-align: left;
  font-family: IBM Plex Mono;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.devices-text08 {
  top: 144px;
  left: 107px;
  color: rgba(0, 0, 0, 1);
  width: 171px;
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Regular;
  text-align: left;
  font-family: IBM Plex Mono;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.devices-text10 {
  top: 144px;
  left: 315px;
  color: rgba(0, 0, 0, 1);
  width: 171px;
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Regular;
  text-align: left;
  font-family: IBM Plex Mono;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.devices-text12 {
  top: 144px;
  left: 731px;
  color: rgba(11, 127, 171, 1);
  width: 171px;
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Regular;
  text-align: left;
  font-family: IBM Plex Mono;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.devices-text14 {
  top: 144px;
  left: 523px;
  color: rgba(0, 0, 0, 1);
  width: 171px;
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Regular;
  text-align: left;
  font-family: IBM Plex Mono;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
