.devices-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.devices-devices {
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.devices-banner {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 233px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.devices-rectangle12 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 208px;
  position: absolute;
}
.devices-text {
  top: 38px;
  left: var(--dl-space-space-sixunits);
  color: rgba(0, 0, 0, 1);
  width: 1150px;
  height: auto;
  position: absolute;
  font-size: 64px;
  font-style: Regular;
  text-align: left;
  font-family: IBM Plex Mono;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.devices-sections {
  top: 144px;
  left: var(--dl-space-space-sixunits);
  width: 45%;
  height: 89px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.devices-text02 {
  top: 0px;
  color: rgba(0, 0, 0, 1);
  width: 171px;
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Regular;
  text-align: left;
  font-family: IBM Plex Mono;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.devices-text04 {
  left: 33%;
  color: rgba(0, 0, 0, 1);
  width: 171px;
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Regular;
  text-align: left;
  font-family: IBM Plex Mono;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.devices-text06 {
  left: 100%;
  color: rgba(11, 127, 171, 1);
  width: 171px;
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Regular;
  text-align: left;
  font-family: IBM Plex Mono;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.devices-text08 {
  left: 66%;
  color: rgba(0, 0, 0, 1);
  width: 171px;
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Regular;
  text-align: left;
  font-family: IBM Plex Mono;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.devices-main {
  top: 300px;
  left: 0px;
  right: 0px;
  width: 1292px;
  height: 694px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.devices-rectangle10 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 143px;
  margin: auto;
  position: absolute;
  border-radius: 20px;
}
.devices-rectangle121 {
  top: 188px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 143px;
  margin: auto;
  position: absolute;
  border-radius: 20px;
}
.devices-rectangle13 {
  top: 377px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 143px;
  margin: auto;
  position: absolute;
  border-radius: 20px;
}
.devices-navlink {
  display: contents;
}
.devices-rectangle11 {
  top: 549px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 145px;
  margin: auto;
  position: absolute;
  border-radius: 20px;
  text-decoration: none;
}
.devices-text13 {
  top: 21px;
  left: 0px;
  color: rgba(0, 0, 0, 1);
  right: 0px;
  width: 165px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 25px;
  font-style: Regular;
  text-align: center;
  font-family: IBM Plex Mono;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.devices-text15 {
  top: 210px;
  left: 0px;
  color: rgba(0, 0, 0, 1);
  right: 0px;
  width: 186px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 25px;
  font-style: Regular;
  text-align: center;
  font-family: IBM Plex Mono;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.devices-text17 {
  top: 398px;
  left: 0px;
  color: rgba(0, 0, 0, 1);
  right: 0px;
  width: 130px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 25px;
  font-style: Regular;
  text-align: center;
  font-family: IBM Plex Mono;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.devices-addround {
  top: 549px;
  left: 0px;
  right: 0px;
  width: 136px;
  height: 144px;
  margin: auto;
  position: absolute;
}
@media(max-width: 991px) {
  .devices-sections {
    left: 0px;
    width: 70%;
  }
  .devices-text02 {
    left: 2%;
  }
}
