.lighting-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.lighting-lighting {
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.lighting-main {
  top: 233px;
  left: 0px;
  right: 0px;
  width: 70%;
  height: 699px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.lighting-group5 {
  top: 0px;
  left: 0px;
  width: 509.5910949707031px;
  height: 293.9122619628906px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(205, 209, 228, 0.5);
}
.lighting-rectangle18 {
  top: 26px;
  left: 432px;
  width: 53px;
  height: 242px;
  position: absolute;
  border-radius: 20px;
}
.lighting-rectangle20 {
  top: 17px;
  left: 19px;
  width: 130px;
  height: 130px;
  position: absolute;
  border-radius: 20px;
}
.lighting-sun {
  top: 17px;
  left: 19px;
  width: 130px;
  height: 130px;
  position: absolute;
}
.lighting-text {
  top: 30px;
  left: 173px;
  color: rgba(0, 0, 0, 1);
  width: 189px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Regular;
  text-align: left;
  font-family: IBM Plex Mono;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.lighting-group7 {
  left: 0px;
  width: 509.5910949707031px;
  bottom: 0px;
  height: 293.9122619628906px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(205, 209, 228, 0.5);
}
.lighting-rectangle17 {
  top: 25.912261962890625px;
  left: 432px;
  width: 53px;
  height: 242px;
  position: absolute;
  border-radius: 20px;
}
.lighting-rectangle24 {
  top: 49.912261962890625px;
  left: 432px;
  width: 53px;
  height: 218px;
  position: absolute;
  border-radius: 20px;
}
.lighting-rectangle19 {
  top: 18.912261962890625px;
  left: 19px;
  width: 130px;
  height: 130px;
  position: absolute;
  border-radius: 20px;
}
.lighting-text02 {
  top: 26.912261962890625px;
  left: 173px;
  color: rgba(0, 0, 0, 1);
  width: 189px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Regular;
  text-align: left;
  font-family: IBM Plex Mono;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.lighting-sun1 {
  top: 18.912261962890625px;
  left: 19px;
  width: 130px;
  height: 130px;
  position: absolute;
}
.lighting-group8 {
  right: 0px;
  width: 509.5910949707031px;
  bottom: 0px;
  height: 293.9122619628906px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(205, 209, 228, 0.5);
}
.lighting-rectangle15 {
  top: 25.912261962890625px;
  left: 423.591064453125px;
  width: 53px;
  height: 242px;
  position: absolute;
  border-radius: 20px;
}
.lighting-rectangle22 {
  top: 18.912261962890625px;
  left: 30.591064453125px;
  width: 130px;
  height: 130px;
  position: absolute;
  border-radius: 20px;
}
.lighting-sun2 {
  top: 18.912261962890625px;
  left: 30.591064453125px;
  width: 130px;
  height: 130px;
  position: absolute;
}
.lighting-text04 {
  top: 26.912261962890625px;
  left: 184.591064453125px;
  color: rgba(0, 0, 0, 1);
  width: 189px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Regular;
  text-align: left;
  font-family: IBM Plex Mono;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.lighting-group6 {
  top: 0px;
  right: 0px;
  width: 509.5910949707031px;
  height: 293.9122619628906px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(205, 209, 228, 0.5);
}
.lighting-rectangle16 {
  top: 26px;
  left: 423.591064453125px;
  width: 53px;
  height: 242px;
  position: absolute;
  border-radius: 20px;
}
.lighting-rectangle23 {
  top: 131px;
  left: 423.591064453125px;
  width: 53px;
  height: 137px;
  position: absolute;
  border-radius: 20px;
}
.lighting-rectangle21 {
  top: 17px;
  left: 30.591064453125px;
  width: 130px;
  height: 130px;
  position: absolute;
  border-radius: 20px;
}
.lighting-sun3 {
  top: 17px;
  left: 30.591064453125px;
  width: 130px;
  height: 130px;
  position: absolute;
}
.lighting-text06 {
  top: 24px;
  left: 181.591064453125px;
  color: rgba(0, 0, 0, 1);
  width: 189px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Regular;
  text-align: left;
  font-family: IBM Plex Mono;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.lighting-banner {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 233px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.lighting-rectangle12 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 208px;
  position: absolute;
}
.lighting-text08 {
  top: 38px;
  left: var(--dl-space-space-sixunits);
  color: rgba(0, 0, 0, 1);
  width: 1150px;
  height: auto;
  position: absolute;
  font-size: 64px;
  font-style: Regular;
  text-align: left;
  font-family: IBM Plex Mono;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.lighting-sections {
  top: 144px;
  left: var(--dl-space-space-sixunits);
  width: 45%;
  height: 89px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.lighting-text10 {
  top: 0px;
  color: rgba(11, 127, 171, 1);
  width: 171px;
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Regular;
  text-align: left;
  font-family: IBM Plex Mono;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.lighting-text12 {
  left: 33%;
  color: rgba(0, 0, 0, 1);
  width: 171px;
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Regular;
  text-align: left;
  font-family: IBM Plex Mono;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.lighting-text14 {
  left: 100%;
  color: rgba(0, 0, 0, 1);
  width: 171px;
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Regular;
  text-align: left;
  font-family: IBM Plex Mono;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.lighting-text16 {
  left: 66%;
  color: rgba(0, 0, 0, 1);
  width: 171px;
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Regular;
  text-align: left;
  font-family: IBM Plex Mono;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
@media(max-width: 991px) {
  .lighting-sections {
    left: 0px;
    width: 70%;
  }
  .lighting-text10 {
    left: 2%;
  }
}
