.new-device-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.new-device-new-device {
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.new-device-main {
  top: 282px;
  left: 0px;
  right: 0px;
  width: 50%;
  height: 696px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.new-device-navlink {
  display: contents;
}
.new-device-rectangle11 {
  top: 558px;
  left: 0px;
  width: 100%;
  height: 132px;
  position: absolute;
  border-radius: 20px;
  text-decoration: none;
}
.new-device-rectangle12 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 517px;
  position: absolute;
  border-radius: 20px;
}
.new-device-textarea {
  top: 293px;
  left: 20px;
  width: 427px;
  height: 178px;
  position: absolute;
}
.new-device-textarea1 {
  top: 80px;
  left: 20px;
  width: 416px;
  height: 47px;
  position: absolute;
}
.new-device-text {
  top: 24px;
  left: 20px;
  color: rgba(0, 0, 0, 1);
  width: 299px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Regular;
  text-align: left;
  font-family: IBM Plex Mono;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.new-device-text02 {
  top: 204px;
  left: 20px;
  color: rgba(0, 0, 0, 1);
  width: 299px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Regular;
  text-align: left;
  font-family: IBM Plex Mono;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.new-device-addround {
  top: 552px;
  left: 0px;
  right: 0px;
  width: 136px;
  height: 144px;
  margin: auto;
  position: absolute;
}
.new-device-banner {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 233px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.new-device-rectangle121 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 208px;
  position: absolute;
}
.new-device-text04 {
  top: 38px;
  left: var(--dl-space-space-sixunits);
  color: rgba(0, 0, 0, 1);
  width: 1150px;
  height: auto;
  position: absolute;
  font-size: 64px;
  font-style: Regular;
  text-align: left;
  font-family: IBM Plex Mono;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.new-device-sections {
  top: 144px;
  left: var(--dl-space-space-sixunits);
  width: 45%;
  height: 89px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.new-device-text06 {
  top: 0px;
  color: rgba(0, 0, 0, 1);
  width: 171px;
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Regular;
  text-align: left;
  font-family: IBM Plex Mono;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.new-device-text08 {
  left: 33%;
  color: rgba(0, 0, 0, 1);
  width: 171px;
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Regular;
  text-align: left;
  font-family: IBM Plex Mono;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.new-device-text10 {
  left: 100%;
  color: rgba(11, 127, 171, 1);
  width: 171px;
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Regular;
  text-align: left;
  font-family: IBM Plex Mono;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.new-device-text12 {
  left: 66%;
  color: rgba(0, 0, 0, 1);
  width: 171px;
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Regular;
  text-align: left;
  font-family: IBM Plex Mono;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
@media(max-width: 991px) {
  .new-device-textarea {
    width: 90%;
  }
  .new-device-textarea1 {
    width: 90%;
  }
  .new-device-sections {
    left: 0px;
    width: 70%;
  }
  .new-device-text06 {
    left: 2%;
  }
}
