.start-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.start-start {
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.start-banner {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(108, 133, 255, 0.5);
}
.start-text {
  top: 38px;
  left: 30px;
  color: rgba(0, 0, 0, 1);
  width: 1150px;
  height: auto;
  position: absolute;
  font-size: 64px;
  font-style: Regular;
  text-align: left;
  font-family: IBM Plex Mono;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.start-main {
  top: 357px;
  left: 0px;
  right: 0px;
  width: 50%;
  height: 310px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  margin-right: auto;
}
.start-navlink {
  display: contents;
}
.start-graph {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 310px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  text-decoration: none;
  background-color: rgba(11, 127, 171, 1);
}
.start-text2 {
  top: 92px;
  left: 0px;
  color: rgba(0, 0, 0, 1);
  right: 0px;
  width: 300px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 96px;
  font-style: Regular;
  text-align: left;
  font-family: IBM Plex Mono;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
@media(max-width: 1600px) {
  .start-main {
    flex: 1;
  }
  .start-graph {
    width: 100%;
  }
}
@media(max-width: 767px) {
  .start-text2 {
    left: 0px;
    right: 0px;
    width: auto;
    margin: auto;
  }
}
@media(max-width: 479px) {
  .start-text2 {
    left: 0px;
    right: 0px;
    margin: auto;
  }
}
