.water-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.water-water {
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.water-main {
  top: 249px;
  left: 0px;
  right: 0px;
  width: 1328px;
  height: 722px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.water-graph {
  top: 0px;
  left: 772px;
  width: 556px;
  height: 722px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.water-rectangle12 {
  top: 0px;
  left: 0px;
  width: 546px;
  height: 722px;
  position: absolute;
  border-radius: 20px;
}
.water-rectangle11 {
  top: 201px;
  left: 63px;
  width: 53px;
  height: 343px;
  position: absolute;
  border-radius: 20px;
}
.water-rectangle13 {
  top: 328px;
  left: 132px;
  width: 53px;
  height: 216px;
  position: absolute;
  border-radius: 20px;
}
.water-rectangle14 {
  top: 230px;
  left: 206px;
  width: 53px;
  height: 314px;
  position: absolute;
  border-radius: 20px;
}
.water-rectangle15 {
  top: 201px;
  left: 275px;
  width: 53px;
  height: 343px;
  position: absolute;
  border-radius: 20px;
}
.water-rectangle16 {
  top: 201px;
  left: 344px;
  width: 53px;
  height: 343px;
  position: absolute;
  border-radius: 20px;
}
.water-rectangle17 {
  top: 230px;
  left: 418px;
  width: 53px;
  height: 314px;
  position: absolute;
  border-radius: 20px;
}
.water-rectangle20 {
  top: 661px;
  left: 245px;
  width: 62px;
  height: 28px;
  position: absolute;
  border-radius: 200px;
}
.water-rectangle18 {
  top: 665px;
  left: 249px;
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 200px;
}
.water-rectangle19 {
  top: 665px;
  left: 282px;
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 200px;
}
.water-text {
  top: 567px;
  left: 63px;
  color: rgba(0, 0, 0, 1);
  width: 53px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Regular;
  text-align: left;
  font-family: IBM Plex Mono;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.water-text02 {
  top: 567px;
  left: 132px;
  color: rgba(0, 0, 0, 1);
  width: 53px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Regular;
  text-align: left;
  font-family: IBM Plex Mono;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.water-text04 {
  top: 567px;
  left: 206px;
  color: rgba(0, 0, 0, 1);
  width: 53px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Regular;
  text-align: left;
  font-family: IBM Plex Mono;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.water-text06 {
  top: 567px;
  left: 275px;
  color: rgba(0, 0, 0, 1);
  width: 53px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Regular;
  text-align: left;
  font-family: IBM Plex Mono;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.water-text08 {
  top: 34px;
  left: 210px;
  color: rgba(0, 0, 0, 1);
  width: 110px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Regular;
  text-align: left;
  font-family: IBM Plex Mono;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.water-text10 {
  top: 567px;
  left: 344px;
  color: rgba(0, 0, 0, 1);
  width: 53px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Regular;
  text-align: left;
  font-family: IBM Plex Mono;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.water-text12 {
  top: 567px;
  left: 418px;
  color: rgba(0, 0, 0, 1);
  width: 53px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Regular;
  text-align: left;
  font-family: IBM Plex Mono;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.water-expandrightlight {
  top: 304px;
  left: 471px;
  width: 85px;
  height: 113px;
  position: absolute;
}
.water-group3 {
  top: 0px;
  left: 0px;
  width: 720px;
  height: 230px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(205, 209, 228, 0.5);
}
.water-text14 {
  top: 30px;
  left: 248px;
  color: rgba(0, 0, 0, 1);
  width: 238px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Regular;
  text-align: left;
  font-family: IBM Plex Mono;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.water-text16 {
  top: 90px;
  left: 248px;
  color: rgba(0, 0, 0, 1);
  width: 238px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Regular;
  text-align: left;
  font-family: IBM Plex Mono;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.water-rectangle10 {
  top: 15px;
  left: 26px;
  width: 200px;
  height: 200px;
  position: absolute;
  border-radius: 20px;
}
.water-humidity {
  top: 36px;
  left: 51px;
  width: 150px;
  height: 150px;
  position: absolute;
}
.water-group4 {
  top: 262px;
  left: 0px;
  width: 720px;
  height: 460px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(205, 209, 228, 0.5);
}
.water-text18 {
  top: 25px;
  left: 40px;
  color: rgba(0, 0, 0, 1);
  width: 189px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Regular;
  text-align: left;
  font-family: IBM Plex Mono;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.water-ellipse71 {
  top: 56px;
  left: 172px;
  width: 370px;
  height: 370px;
  position: absolute;
}
.water-ellipse30 {
  top: 61px;
  left: 177px;
  width: 360px;
  height: 360px;
  position: absolute;
}
.water-banner {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 233px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.water-rectangle121 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 208px;
  position: absolute;
}
.water-text23 {
  top: 38px;
  left: var(--dl-space-space-sixunits);
  color: rgba(0, 0, 0, 1);
  width: 1150px;
  height: auto;
  position: absolute;
  font-size: 64px;
  font-style: Regular;
  text-align: left;
  font-family: IBM Plex Mono;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.water-sections {
  top: 144px;
  left: var(--dl-space-space-sixunits);
  width: 45%;
  height: 89px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.water-text25 {
  top: 0px;
  color: rgba(0, 0, 0, 1);
  width: 171px;
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Regular;
  text-align: left;
  font-family: IBM Plex Mono;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.water-text27 {
  left: 33%;
  color: rgba(11, 127, 171, 1);
  width: 171px;
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Regular;
  text-align: left;
  font-family: IBM Plex Mono;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.water-text29 {
  left: 100%;
  color: rgba(0, 0, 0, 1);
  width: 171px;
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Regular;
  text-align: left;
  font-family: IBM Plex Mono;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.water-text31 {
  left: 66%;
  color: rgba(0, 0, 0, 1);
  width: 171px;
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Regular;
  text-align: left;
  font-family: IBM Plex Mono;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
@media(max-width: 1600px) {
  .water-water {
    height: 1815px;
  }
  .water-graph {
    top: 750px;
    left: 0px;
    right: 0px;
    margin: auto;
  }
  .water-group3 {
    left: 0px;
    right: 0px;
    margin: auto;
  }
  .water-group4 {
    left: 0px;
    right: 0px;
    margin: auto;
  }
}
@media(max-width: 991px) {
  .water-sections {
    left: 0px;
    width: 70%;
  }
  .water-text25 {
    left: 2%;
  }
}
